* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header h1 {
  text-align: center;
  margin-bottom: 60px;
}

.container-1 {
  border: 2px solid #d3d3d3;
  text-align: center;

  margin-bottom: 100px;
}

.container-2 {
  border: 2px solid #d3d3d3;
  text-align: center;
}

input {
  font-size: 1.5rem;
  border-radius: 8px;
  margin-bottom: 100px;
  padding: 10px;
}

button {
  font-size: 1.5rem;
  border-radius: 8px;
}

.results,
.results-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

img {
  height: 200px;
  width: 200px;
}

.hidden {
  display: none;
}

.hidden-2 {
  display: none;
}
